@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body {
    background-color: #000;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: #fff;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 60%;
    padding: 20px 0;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    color: #484646;
    display: grid;
    justify-items: center;
}

.wrapper {
    width: 100%;
    text-align: center;
}

input[type="range"] {
    display: inline-block;
    width: 80%;
    margin-left: 10px;
    margin-top: 25px;
}

